# Disable Bluetooth, WiFi, and Sound (already started)
# CONFIG_BT is not set
# CONFIG_SOUND is not set
# CONFIG_CFG80211 is not set
# CONFIG_CAN is not set

# Speed Hack: Change these from 'm' (module) to 'y' (built-in) 
# or disable them if you aren't using I2C/SPI sensors.
CONFIG_REGMAP_I2C=y
CONFIG_REGMAP_SPI=y

# Faster Kernel Uncompressing
CONFIG_KERNEL_GZIP=y

